<p>
  welcome page

</p>

<div class="uk-accordion" data-uk-accordion>

    <h3 class="uk-accordion-title">Heading 1</h3>
    <div class="uk-accordion-content">this is a test</div>

    <h3 class="uk-accordion-title">Heading 2</h3>
    <div class="uk-accordion-content">This is also a test</div>

    <h3 class="uk-accordion-title">Heading 3</h3>
    <div class="uk-accordion-content">testiest test test test</div>

</div>
