<div class="uk-grid uk-grid-width-1-1">
  <% flash.each do |key, value| %>
    <div data-uk-alert class="uk-alert">
      <a href="" class="uk-alert-close uk-close"></a>
      <p><%= value %></p>
    </div>
  <% end %>
</div>
