<nav class="uk-navbar">
  <ul class="uk-navbar-nav"></ul>
  <% if logged_in? %>
    <a href="#my-id" class="uk-navbar-toggle" data-uk-offcanvas></a>
  <% end %>
    <a href="" class="uk-navbar-brand">Yaruban</a>

  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav">
    <% if logged_in? %>
      <li class="uk-parent" data-uk-dropdown><a href=""><%= current_user.username %></a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li><%= link_to 'Sign Out', sign_out_path %></li>
          </ul>
        </div>
      </li>
    <% else %>
      <li><%= link_to "Sign in with Github", "/auth/github" %></li>
    <% end %>
    </ul>
  </div>
</nav>

<% if logged_in? %>
<div id="my-id" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <div class="uk-accordion" data-uk-accordion>

      <h3 class="uk-accordion-title">New Board</h3>
      <div class="uk-accordion-content">THis shouldn't show here</div>

    </div>
    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
      <li class="uk-nav-header">My Boards</li>
    <% current_boards.each do |board| %>
      <li><%= link_to board.name, board %></li>
    <% end %>
    </ul>

  </div>
</div>
<% end %>
