<nav class="uk-navbar">
  <ul class="uk-navbar-nav uk-hidden-small"></ul>
  <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
  <a href="" class="uk-navbar-brand">Yaruban</a>

  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav">
      <li class="uk-parent" data-uk-dropdown><a href="">Log In</a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="">Log Out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</nav>

<div id="my-id" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">...</div>
</div>
